<style>
  .App {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 1500px;
    background-color: #3cb9ea;

    font-family: 'Open Sans', sans-serif;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .margin-left-32 {
    margin-left: 32px;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .bg-white-5 {
    background-color: white;
    height: 5px;
  }

  .map {
    width: 60%;
    min-height: 400px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding-bottom: 20px;
    background-color: white;
    border: 5px solid lightblue;
    border-radius: 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
  }

  .src-map-node {
    width: 25%;
    max-width: 500px;
    background-color: #d9ea3c;
  }

  .dest-map-node {
    width: 25%;
    max-width: 700px;
    background-color: #65ea3c;
  }

  .weight-map-node {
    width: 25%;
    max-width: 700px;
    background-color: #3c9cea;
  }
</style>

<div class="App">
  <div class="map">
    <h2>Simple Map Application</h2>
    <p>Choose your map file(txt):</p>
    <input type="file" (change)="uploadFile($event)" />
    <div class="flex-row margin-top-20" *ngIf="map_list.length > 0">
      <div class="margin-left-32 src-map-node">
        <p>Source node</p>
        <div *ngFor="let src_maps of src_map_list" (click)="chooseSrc({src_maps})">
          <p class="bg-white-5"></p>
          <p>{{src_maps}}</p>
        </div>
      </div>
      <div class="margin-left-32 dest-map-node">
        <p>Destination node</p>
        <div *ngFor="let dest_maps of dest_map_list" (click)="chooseDest({dest_maps})">
          <p class="bg-white-5"></p>
          <p>{{dest_maps}}</p>
        </div>
      </div>
      <div class="margin-left-32 weight-map-node">
        <p>Weight</p>
        <div *ngFor="let weight_maps of weight_map_list">
          <p class="bg-white-5"></p>
          <p>{{weight_maps}}</p>
        </div>
      </div>
    </div>
    <button *ngIf="choosen_src != '' && choosen_dest != ''" class="margin-top-20" (click)="showMap()">Show Map</button>
  </div>
</div>

<router-outlet></router-outlet>
